<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue js tutorial</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="vue-app">
        <!-- called a method and passed in a parameter to the method. -->
        <h2>{{ greet('night') }}</h2>
        <!-- string interpolation -->
        <h1>{{ name }}.</h1>
        <p>{{ job }}</p>

        <!-- data binding; use the v-bind directive. a colon alone also works -->
        <a v-bind:href="website">
            the net ninja
        </a>
        <input type="text" v-bind:value="name">

        <!-- another binding property. -->
        <p v-html="websiteTag"></p>


        <!-- events in vuejs. hover, click etc -->
        <!-- when triggering an event you dont have to call the function using paranthesis -->
        <button @click.once="add(1)">Add a year</button>
        <button v-on:click="subtract(1)">Subtract an year</button>
        <button @dblclick="add(10)">Add 10 years</button>
        <button v-on:dblclick="subtract(10)">Subtract 10 years</button>
        <p>My age is {{ age }}</p>

        <!-- mouse event modifiers -->
        <a @click.prevent="click" href="https://github.com/mungaikeren">
            click me
        </a>
    </div>

    <div id="keyboard-events">
        <!-- keyboard event modifiers -->
        <h1>Keyboard events</h1>
        <label for="name">Name</label>
        <input type="text" v-on:keyup.tab.enter="logName">
        <label for="age">Age</label>
        <input type="text" v-on:keyup.alt.enter="logAge">
    </div>

    <div id="two-way-binding">
        <h1>Two way data binding</h1>
        <label for="name">Name</label>
        <input type="text"  v-model="name">
        <span>{{ name }}</span>

        <label for="age">Age</label>
        <input type="text" v-model="age" name="" id="">
        <span>{{ age }}</span>
    </div>

    <div id="computed-properties">
        <h1>Computed properties</h1>
        <button @click="a++">Add to a</button>
        <button @click="b++">Add to b</button>

        <p>The current age is {{ age}}</p>
        <p>Age + A = {{ addToA }}</p>
        <p>Age + B = {{ addToB }}</p>
    </div>


    <div id="canvas" v-on:mousemove='updateXY'>
        {{ x }},
        {{ y }}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>